<h3>Omnicrafter 0.01 alpha</h3>
<hr>

<h4>Select item ID:</h4>
<form action="" method="post">
	{% csrf_token %}
	{{form}}
	<input type="submit">
</form>

<h4>Select recipe:</h4>
<form action="" method="post">
	<label for="recipes">Recipe:</label>
		<select name="recipes" id="recipes">
			<optgroup label="Raid food">
				<option value="36070">Pumpkin Potage</option>
				<option value="36071">Peach Juice</option>
			</optgroup>
			<optgroup label="misc">
				<option value="36093">Beet</option>
				<option value="36091">Coconut</option>
			</optgroup>
		</select>
	<input type="submit">
</form>